/* Pantagruel specification stylesheet — based on tufte.css */

html {
  font-size: 15px;
}

body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;
  background-color: #fffff8;
  color: #111;
  max-width: 1400px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #151515;
    color: #ddd;
  }
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1;
}

p {
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  vertical-align: baseline;
}

blockquote {
  font-size: 1rem;
  border: none;
  font-style: italic;
  margin: 0;
  padding: 0;
}

blockquote p {
  font-size: 1rem;
  width: 55%;
}

hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.42;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.80em;
}

a:link,
a:visited {
  color: inherit;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;
}

@media (max-width: 760px) {
  body {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  hr {
    width: 100%;
  }

  blockquote p {
    width: 100%;
  }
}
